---
import type { MP } from "~src/pages/edustajat/_utils";
import BaseLayout from "~src/layouts/BaseLayout.astro";
import ProfilePhoto from "~src/components/ProfilePhoto.astro";

interface Props {
    mp: MP;
}

const { mp } = Astro.props;

const currentPathBase = `edustajat/${mp?.first_name}+${mp?.last_name}`;
const currentPath = Astro.url.pathname;
const subpages = [
    { name: "Yleistä", path: `/${currentPathBase}` },
    { name: "Puheenvuorot", path: `/${currentPathBase}/puheenvuorot` },
    { name: "Äänestykset", path: `/${currentPathBase}/aanestykset` },
    { name: "Jäsenyydet", path: `/${currentPathBase}/jasenyydet` },
    { name: "Aloitteet", path: `/${currentPathBase}/aloitteet` },
    { name: "Vaalilupaukset", path: `/${currentPathBase}/vaalilupaukset` },
    { name: "Sidonnaisuudet", path: `/${currentPathBase}/sidonnaisuudet` },
];

const cur_pg = mp.parliamentary_groups.at(-1)?.pg_id;
const prev_pgs = mp.parliamentary_groups
    .filter((pg) => pg.pg_id !== cur_pg && pg.pg_id !== "-")
    .map((pg) => pg.pg_id);
const unique_prev_pgs = [...new Set(prev_pgs)];
---

<BaseLayout>
    <section>
        <ProfilePhoto mp={mp} />
        <div>
            <h1>{mp?.first_name} {mp?.last_name}</h1>
            <p>
                {mp?.email}<br />
                {
                    cur_pg +
                        `${unique_prev_pgs.length > 0 ? ` (ent. ${unique_prev_pgs})` : ""}`
                }<br />
                {mp?.occupation}<br />
                {mp?.place_of_residence}<br />
                {
                    `${new Date(
                        mp?.parliamentary_groups.at(0).start_date,
                    ).getFullYear()} - ${
                        mp?.parliamentary_groups.at(-1)?.end_date === null
                            ? "..."
                            : new Date(
                                  mp?.parliamentary_groups.at(-1)?.end_date,
                              )
                    }`
                }<br />
            </p>
        </div>
    </section>

    <nav>
        <ul>
            {
                subpages.map((page) => (
                    <li>
                        <a
                            class:list={{
                                active: decodeURI(currentPath) === page.path,
                            }}
                            href={page.path}
                        >
                            {page.name}
                        </a>
                    </li>
                ))
            }
        </ul>
    </nav>

    <slot />
</BaseLayout>

<style>
    .active {
        font-weight: bold;
    }
    section {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 1rem;
    }
</style>
