---
import type { NotNull } from "kysely";
import { db } from "~src/database";
import Layout from "~src/pages/edustajat/[memberOfParliament]/_layout.astro";
import { getMpStaticPaths } from "~src/pages/edustajat/[memberOfParliament]/_utils";
import { PARLIAMENT_BASE_URL, VOTE_MAP } from "~src/utils";

/** List all items of data that need a page generated for them */
export const getStaticPaths = getMpStaticPaths;

const { mp } = Astro.props;

const ballotVotes = mp
    ? await db
          .selectFrom("votes")
          .where("votes.person_id", "=", mp.id)
          .where("votes.vote", "is not", null)
          .leftJoin("ballots", "votes.ballot_id", "ballots.id")
          .select([
              "ballots.id",
              "ballots.title",
              "ballots.session_item_title",
              "ballots.minutes_url",
              "ballots.results_url",
              "ballots.parliament_id",
              "ballots.start_time",
              "votes.vote",
          ])
          .orderBy("ballots.start_time", "desc")
          .$narrowType<{ vote: NotNull }>()
          .execute()
    : [];

type BallotVote = typeof ballotVotes;

type BallotBundle = {
    ballots: BallotVote[];
    parliament_id: string;
    start_time: Date;
    minutes_url: string;
    session_item_title: string;
};

const ballotBundles = ballotVotes
    .reduce<BallotBundle[]>((prev, current) => {
        if (!prev.some((bv) => bv.parliament_id === current.parliament_id)) {
            return [
                ...prev,
                {
                    ballots: [current],
                    parliament_id: current.parliament_id,
                    start_time: current.start_time,
                    minutes_url: current.minutes_url,
                    session_item_title: current.session_item_title,
                },
            ];
        } else {
            const target = prev.find(
                (bundle) => bundle.parliament_id === current.parliament_id
            );
            target?.ballots.push(current);
            return prev;
        }
    }, [])
    .sort((a: BallotBundle, b: BallotBundle) => b.start_time - a.start_time);
---

<Layout mp={mp}>
    <section>
        <h2>Äänestykset</h2>
        <ul class="ballot-votes">
            {
                ballotBundles.map((bb: BallotBundle) => (
                    <li id={`${bb.parliament_id}`}>
                        <h3>{bb.session_item_title}</h3>
                        <a href={`${PARLIAMENT_BASE_URL}${bb.minutes_url}`}>
                            Pöytäkirja
                        </a>{" "}
                        <ul>
                            {bb.ballots.map((bv: BallotVote) => (
                                <li id={`${bv.id}`}>
                                    <strong>{bv.title}</strong> |
                                    <a
                                        href={`${PARLIAMENT_BASE_URL}${bv.results_url}`}
                                    >
                                        Äänestystulos
                                    </a>
                                    Ääni:
                                    <span class:list={bv.vote}>
                                        {VOTE_MAP[bv.vote]}
                                    </span>
                                </li>
                            ))}
                        </ul>
                    </li>
                ))
            }
        </ul>
    </section>
</Layout>

<style>
    .ballot-votes {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .ballot-vote {
        padding: 0.5rem;
        border-radius: 8px;
        border: 2px solid #504646d0;
        margin-bottom: 0.5rem;
    }

    /* Colors for votes named after the vote value */
    .yes {
        background-color: #1ea850;
        border-radius: 4px;
        padding: 0.1rem 0.5rem;
        color: black;
    }

    .no {
        background-color: #d9304c;
        border-radius: 4px;
        padding: 0.1rem 0.5rem;
        color: black;
    }

    .abstain {
        background-color: #fbbc05;
        border-radius: 4px;
        padding: 0.1rem 0.5rem;
        color: black;
    }

    .absent {
        background-color: #f1f3f4;
        border-radius: 4px;
        padding: 0.1rem 0.5rem;
        color: black;
    }

    ul > li {
        list-style: none;
    }
</style>
