---
import { db } from "~src/database";
import { urlencodeProposalId } from "~src/pages/esitykset/_utils";
import Layout from "~src/pages/edustajat/[memberOfParliament]/_layout.astro";
import { getMpStaticPaths } from "~src/pages/edustajat/[memberOfParliament]/_utils";

/** List all items of data that need a page generated for them */
export const getStaticPaths = getMpStaticPaths;

function truncateText(text: string, wordLimit: number) {
    if (!text) return "";
    const words = text.split(" ");
    if (words.length <= wordLimit) return text;
    return words.slice(0, wordLimit).join(" ") + "...";
}

const { mp } = Astro.props;

const statusStyles = {
    open: { style: "open", text: "Avoin" },
    expired: { style: "expired", text: "Vanhentunut" },
    resting: { style: "expired", text: "Hyllytetty" },
    handled: { style: "passed", text: "Käsitelty" },
    passed: { style: "passed", text: "Hyväksytty" },
    passed_changed: { style: "passed", text: "Hyväksytty muutettuna" },
    passed_urgent: { style: "passed", text: "Hyväksytty kiireellisenä" },
    rejected: { style: "rejected", text: "Hylätty" },
    cancelled: { style: "rejected", text: "Peruttu" },
};

const proposals = await db
    .selectFrom("proposal_signatures")
    .leftJoin("proposals", "proposals.id", "proposal_signatures.proposal_id")
    .where("proposal_signatures.person_id", "=", mp.id)
    .where("proposals.ptype", "!=", "government")
    .where("proposal_signatures.first", "is", true)
    .select([
        "proposals.title",
        "proposals.summary",
        "proposals.id",
        "proposal_signatures.first",
        "proposals.status",
        "proposals.date",
    ])
    .orderBy("proposals.date", "desc")
    .execute();
---

<Layout mp={mp}>
    <section>
        <h2>Aloitteet ({proposals.length})</h2>
        <ul>
            {
                proposals.map((proposal) => (
                    <li>
                        <article>
                            <a
                                href={`/esitykset/${urlencodeProposalId(proposal.id)}`}
                            >
                                <h2>{proposal.title}</h2>
                            </a>
                            <p>
                                {truncateText(
                                    proposal.summary ?? proposal.reasoning,
                                    80
                                )}
                            </p>
                            <span
                                class:list={[
                                    "status",
                                    statusStyles[proposal.status].style,
                                ]}
                            >
                                {statusStyles[proposal.status].text}
                            </span>
                        </article>
                        <hr />
                    </li>
                ))
            }
        </ul>
    </section>
</Layout>

<style>
    li {
        list-style: none;
    }

    ul {
        padding-inline-start: 0%;
    }
    :global(.status) {
        padding: 0.25rem 0.5rem;
        border-radius: 4px;
        font-size: 0.8rem;
        font-weight: bold;
    }

    :global(.open) {
        background-color: #fef3c7;
        color: #92400e;
    }

    :global(.passed) {
        background-color: #dcfce7;
        color: #166534;
    }

    :global(.expired) {
        background-color: #898989; /* Green */
        color: #2a2a2a;
    }

    :global(.rejected) {
        background-color: #fee2e2; /* Red */
        color: #991b1b;
    }

    article {
        --pico-card-box-shadow: initial;
        flex-direction: column;
        border-radius: 40px;
        gap: var(--pico-block-spacing-horizontal);
    }
</style>
