---
import { db } from "~src/database";
import { groupBy } from "~src/utils";
import Layout from "~src/pages/edustajat/[memberOfParliament]/_layout.astro";
import { getMpStaticPaths } from "~src/pages/edustajat/[memberOfParliament]/_utils";

/** List all items of data that need a page generated for them */
export const getStaticPaths = getMpStaticPaths;

const { mp } = Astro.props;

const interests = mp
    ? await db
          .selectFrom("interests")
          .where("interests.person_id", "=", mp.id)
          .where("interests.category", "in", [
              "Hallinto- ja luottamustehtävät yksityisissä yrityksissä, yhteisöissä sekä julkisyhteisöissä",
              "Valtion, kunnan ja muiden julkisyhteisöjen virat",
          ])
          .select(["interests.category", "interests.interest"])
          .execute()
    : [];

const groupedInterests = groupBy(interests, (i) => i.category ?? "");

const committees = mp
    ? await db
          .selectFrom("mp_committee_memberships")
          .where("mp_committee_memberships.person_id", "=", mp.id)
          .select(["committee_name", "start_date", "end_date", "role"])
          .execute()
    : [];

const groupedCommittees = groupBy(committees, (c) => c.committee_name ?? "");

const roles: Record<string, string> = {
    member: "jäsen",
    associate: "varajäsen",
    additional: "lisäjäsen",
    chair: "puheenjohtaja",
    "first vice": "ensimmäinen varapuheenjohtaja",
    "second vice": "toinen varapuheenjohtaja",
};
---

<Layout mp={mp}>
    <section>
        <h2>Valiokunnat</h2>
        {
            Object.entries(groupedCommittees).map(
                ([committeeName, committeeData]) => (
                    <section>
                        <a
                            href={`/valiokunnat/${encodeURIComponent(committeeName)}`}
                        >
                            <strong>{committeeName}</strong>
                        </a>
                        <ul>
                            {committeeData.map((committee) => (
                                <li>
                                    <span
                                        class:list={
                                            roles[committee.role] as string
                                        }
                                    >
                                        {roles[committee.role]}
                                    </span>{" "}
                                    |{" "}
                                    {committee.start_date.toLocaleDateString()}{" "}
                                    -{" "}
                                    {committee.end_date
                                        ? committee.end_date.toLocaleDateString()
                                        : "Nykyinen"}
                                </li>
                            ))}
                        </ul>
                    </section>
                ),
            )
        }
    </section>
    <section>
        <h2>Sidonnaisuudet</h2>
        {
            Object.entries(groupedInterests).map(([group, interests]) => (
                <section>
                    <strong>{group}</strong>
                    <ul>
                        {interests.map((int) => (
                            <li>{int.interest}</li>
                        ))}
                    </ul>
                </section>
            ))
        }
    </section>
</Layout>

<style>
    li {
        margin: 1rem;
    }
    .jäsen {
        border: 2px solid #333;
        border-radius: 0.5rem;
        padding: 0.1rem 0.5rem;
        background: #cce3fa;
        color: #0d47a1;
        border: 2px solid #333;
    }
    .varajäsen {
        border: 2px solid #333;
        border-radius: 0.5rem;
        padding: 0.1rem 0.5rem;
        background: #d0f5e0;
        color: #1b5e20;
    }
    .lisäjäsen {
        border: 2px solid #333;
        border-radius: 0.5rem;
        padding: 0.1rem 0.5rem;
        background: #fff3c2;
        color: #f57c00;
    }
    .puheenjohtaja {
        border: 2px solid #333;
        border-radius: 0.5rem;
        padding: 0.1rem 0.5rem;
        background: #ffd6d6;
        color: #b71c1c;
    }
    .ensimmäinen\ varapuheenjohtaja {
        border: 2px solid #333;
        border-radius: 0.5rem;
        padding: 0.1rem 0.5rem;
        background: #e3d6f7;
        color: #4a148c;
    }
    .toinen\ varapuheenjohtaja {
        border: 2px solid #333;
        border-radius: 0.5rem;
        padding: 0.1rem 0.5rem;
        background: #c2f0f7;
        color: #006064;
    }
</style>
