---
import { marked } from "marked";

import { db } from "~src/database";
import Layout from "~src/pages/edustajat/[memberOfParliament]/_layout.astro";
import { getMpStaticPaths } from "~src/pages/edustajat/[memberOfParliament]/_utils";

/** List all items of data that need a page generated for them */
export const getStaticPaths = getMpStaticPaths;

const { mp } = Astro.props;

const speeches = await db
    .selectFrom("speeches")
    .innerJoin(
        "agenda_items",
        "speeches.agenda_item_parliament_id",
        "agenda_items.parliament_id"
    )
    .where("speeches.person_id", "=", mp.id)
    .select(["speeches.id", "speeches.speech", "agenda_items.title"])
    .distinctOn(["speeches.start_time"])
    .orderBy("speeches.start_time", "desc")
    .execute();
---

<Layout mp={mp}>
    <section>
        <h2>Puheenvuorot</h2>
        <ul>
            {
                speeches.map((s) => (
                    <li>
                        <article>
                            <h3>{s.title}</h3>
                            {/* eslint-disable-next-line astro/no-set-html-directive */}
                            <Fragment set:html={marked(s.speech)} />

                            <button id={`collapse-${s.id}`}>Lue lisää</button>
                            <a
                                href={`/asiakohdat/${s.title}/keskustelu#${s.id}`}
                            >
                                Asiakohdan keskustelu
                            </a>
                        </article>
                    </li>
                ))
            }
        </ul>
    </section>
</Layout>

<style>
    ul {
        padding: 0;
    }
    li {
        list-style: none;
    }
    :global(article p:not(:first-of-type)) {
        display: none;
    }
    :global(article.expanded p) {
        display: block;
    }
</style>

<script>
    const buttons = document.querySelectorAll("[id^='collapse']");

    buttons.forEach((button) => {
        button.addEventListener("click", () => {
            const article = button.parentElement;
            article?.classList.toggle("expanded");
            button.textContent = article?.classList.contains("expanded")
                ? "Lue vähemmän"
                : "Lue lisää";
        });
    });
</script>
