---
/* eslint-disable astro/no-set-html-directive */
// We inject markdown in multiple places in this file, it is safe trust me bro

import type { NotNull } from "kysely";
import { db } from "~src/database";
import { marked } from "marked";
import MpRoundPhotoList from "~src/components/MpRoundPhotoList.astro";
import Layout from "~src/layouts/BaseLayout.astro";
import { proposalData, urlencodeProposalId } from "~src/pages/esitykset/_utils";
import { PARLIAMENT_BASE_URL } from "~src/utils";
import { rehype } from "rehype";
import rehypeAutolinkHeadings from "rehype-autolink-headings";
import rehypeSlug from "rehype-slug";
import rehypeToc from "@jsdevtools/rehype-toc";
import { create_toc_element } from "~src/utils";

export async function getStaticPaths() {
    const data = await proposalData().execute();
    return data.map((proposal) => ({
        params: { proposal: urlencodeProposalId(proposal.id) },
        props: { proposal },
    }));
}

const { proposal } = Astro.props;

const ballots = await db
    .selectFrom("ballots")
    .where("ballots.parliament_id", "=", proposal.id)
    .select([
        "ballots.id",
        "ballots.title",
        "ballots.session_item_title",
        "ballots.minutes_url",
        "ballots.results_url",
    ])
    .orderBy("ballots.start_time", "desc")
    .execute();

const md = `
${proposal.summary ? `# Yhteenveto\n\n${proposal.summary}` : ""}
${proposal.reasoning ? `# Perustelut\n\n${proposal.reasoning}` : ""}
${proposal.law_changes ? `# Lakimuutokset\n\n${proposal.law_changes}` : ""}
`;

const content = await rehype()
    .use(rehypeSlug)
    .use(rehypeAutolinkHeadings)
    .use(rehypeToc, {
        customizeTOC: (a) => {
            if (ballots.length > 0) {
                const elem = create_toc_element("Äänestykset", "aanestykset");
                a.children[0].children.push(elem);
            }
            return a;
        },
    })
    .process(await marked(md));
---

<Layout>
    <h1>{proposal.title}</h1>
    <h2>{proposal.id}</h2>
    <h2>Allekirjoittaneet</h2>
    <MpRoundPhotoList mps={proposal.signatures} />

    <article>
        <Fragment set:html={content} />
    </article>
    {
        ballots.length > 0 && (
            <article>
                <h2 id="aanestykset">Äänestykset</h2>
                <ul>
                    {ballots.map((b) => (
                        <li>
                            {b.title}
                            <a href={`${PARLIAMENT_BASE_URL}${b.minutes_url}`}>
                                Pöytäkirja
                            </a>{" "}
                            |
                            <a href={`${PARLIAMENT_BASE_URL}${b.results_url}`}>
                                Äänestystulos
                            </a>
                        </li>
                    ))}
                </ul>
            </article>
        )
    }
</Layout>

<style>
    :global(nav.toc) {
        margin-bottom: 2em;
    }
    :global(nav.toc ol) {
        margin: 0;
        counter-reset: item;
        grid-column: 2;
        display: grid;
        grid-template-columns: auto 1fr;
    }
    :global(nav.toc li) {
        padding: unset;
        display: grid;
        grid-column: span 2;
        grid-template-columns: subgrid;
        column-gap: 1em;
    }
    :global(nav.toc li::before) {
        content: counters(item, ".") ". ";
        counter-increment: item;
    }
    :global(nav.toc li a) {
        padding: 0;
        margin: 0;
    }
</style>
