---
// We inject markdown in multiple places in this file, it is safe trust me bro
/* eslint-disable astro/no-set-html-directive */
import { marked } from "marked";
import MpRoundPhotoList from "~src/components/MpRoundPhotoList.astro";
import Layout from "~src/layouts/BaseLayout.astro";
import { proposalData, urlencodeProposalId } from "~src/pages/esitykset/_utils";

export async function getStaticPaths() {
    const data = await proposalData().execute();
    return data.map((proposal) => ({
        params: { proposal: urlencodeProposalId(proposal.id) },
        props: { proposal },
    }));
}

const { proposal } = Astro.props;
---

<Layout>
    <h1>{proposal.title}</h1>
    <article>
        <h2 id="contents">Sisältö</h2>
        <ul>
            {
                proposal.summary && (
                    <li>
                        <a href="#summary">Yhteenveto</a>
                    </li>
                )
            }
            {
                proposal.reasoning && (
                    <li>
                        <a href="#reasoning">Perustelut</a>
                    </li>
                )
            }
            {
                proposal.law_changes && (
                    <li>
                        <a href="#lawchanges">Lakimuutokset</a>
                    </li>
                )
            }
        </ul>
    </article>

    {
        proposal.summary && (
            <article>
                <>
                    <h2 id="summary">Yhteenveto</h2>
                    <Fragment set:html={marked(proposal.summary)} />
                    <a href="#contents">Ylös</a>
                </>
            </article>
        )
    }

    {
        proposal.reasoning && (
            <article>
                <>
                    <h2 id="reasoning">Perustelut</h2>
                    <Fragment set:html={marked(proposal.reasoning)} />
                    <a href="#contents">Ylös</a>
                </>
            </article>
        )
    }
    {
        proposal.law_changes && (
            <article>
                <>
                    <h2 id="lawchanges">Lakimuutokset</h2>
                    <Fragment set:html={marked(proposal.law_changes)} />
                    <a href="#contents">Ylös</a>
                </>
            </article>
        )
    }

    <h2>Allekirjoittaneet</h2>
    <MpRoundPhotoList mps={proposal.signatures} />
</Layout>

<style>
    h2 {
        font-size: 1.25rem;
    }
</style>
