---
// We inject markdown in multiple places in this file, it is safe trust me bro
/* eslint-disable astro/no-set-html-directive */
import { db } from "~src/database";
import { marked } from "marked";
import MpRoundPhotoList from "~src/components/MpRoundPhotoList.astro";
import Layout from "~src/layouts/BaseLayout.astro";
import { proposalData, urlencodeProposalId } from "~src/pages/esitykset/_utils";
import { PARLIAMENT_BASE_URL } from "~src/utils";

export async function getStaticPaths() {
    const data = await proposalData().execute();
    return data.map((proposal) => ({
        params: { proposal: urlencodeProposalId(proposal.id) },
        props: { proposal },
    }));
}

const { proposal } = Astro.props;

const proposal_reasonings = await db
    .selectFrom("proposal_reasoning as pr")
    .select(["pr.title", "pr.content"])
    .where("pr.proposal_id", "=", proposal.id)
    .orderBy("position")
    .execute();

const ballots = await db
    .selectFrom("ballots")
    .where("ballots.parliament_id", "=", proposal.id)
    .select([
        "ballots.id",
        "ballots.title",
        "ballots.session_item_title",
        "ballots.minutes_url",
        "ballots.results_url",
    ])
    .orderBy("ballots.start_time", "desc")
    .execute();

type Ballot = typeof ballots;
---

<Layout>
    <h1 id="top">{proposal.title}</h1>
    <h2>{proposal.id}</h2>
    <article>
        <h2 id="contents">Sisältö</h2>
        <ul>
            {
                proposal.summary && (
                    <li>
                        <a href="#summary">Yhteenveto</a>
                    </li>
                )
            }
            {
                proposal_reasonings && (
                    <li>
                        <a href="#reasoning">Perustelut</a>
                    </li>
                    <ul>
                        {proposal_reasonings.map((pr) => (
                            <li>
                                <a href={`#${pr.title}`}>{pr.title}</a>
                            </li>
                        ))}
                    </ul>
                )
            }
            {
                proposal.law_changes && (
                    <li>
                        <a href="#lawchanges">Lakimuutokset</a>
                    </li>
                )
            }
            {
                ballots && (
                    <li>
                        <a href="#ballots">Äänestykset</a>
                    </li>
                )
            }
        </ul>
    </article>

    <article>
        {
            proposal.summary && (
                <>
                    <h2 id="summary">Yhteenveto</h2>
                    <Fragment set:html={marked(proposal.summary)} />
                    <a href="#top">Ylös</a>
                </>
            )
        }

        {
            proposal_reasonings && (
                <>
                    <h2 id="reasoning">Perustelut</h2>
                    { proposal_reasonings.map(
                        (pr) => (
                            <h1 id={`${pr.title}`}>{pr.title}</h1>
                            <Fragment set:html={pr.content && marked(pr.content)} />
                            <a href="#top">Ylös</a>)
                        )
                    }
                </>
            )
        }
        {
            proposal.law_changes && (
                <>
                    <h2 id="lawchanges">Lakimuutokset</h2>
                    <Fragment set:html={marked(proposal.law_changes)} />
                    <a href="#top">Ylös</a>
                </>
            )
        }

        <h2>Allekirjoittaneet</h2>
        <MpRoundPhotoList mps={proposal.signatures} />
    </article>
    {
        ballots && (
            <article>
                <h2 id="ballots">Äänestykset</h2>
                <ul>
                    {ballots.map((b: Ballot) => (
                        <li>
                            {b.title}
                            <a href={`${PARLIAMENT_BASE_URL}${b.minutes_url}`}>
                                Pöytäkirja
                            </a>{" "}
                            |
                            <a href={`${PARLIAMENT_BASE_URL}${b.results_url}`}>
                                Äänestystulos
                            </a>
                        </li>
                    ))}
                </ul>
                <a href="#top">Ylös</a>
            </article>
        )
    }
</Layout>

<style>
    h2 {
        font-size: 1.25rem;
    }
</style>
