---
import Logo from "~src/icons/logo.svg";
import type { MP } from "~src/pages/edustaja/[memberOfParliament]/_utils";
import BaseLayout from "~src/layouts/Layout.astro";
import ProfilePhoto from "~src/components/ProfilePhoto.astro";

interface Props {
    mp: MP;
}

const { mp } = Astro.props;

const currentPathBase = `edustaja/${mp?.first_name}+${mp?.last_name}`;
const currentPath = Astro.url.pathname;
const subpages = [
    { name: "Yleistä", path: `/${currentPathBase}` },
    { name: "Puheenvuorot", path: `/${currentPathBase}/puheenvuorot` },
    { name: "Äänestykset", path: `/${currentPathBase}/aanestykset` },
    { name: "Jäsenyydet", path: `/${currentPathBase}/jasenyydet` },
];
---

<BaseLayout>
    <main>
        <nav>
            <a href="/">
                <Logo />
                Eduri
            </a>
        </nav>

        <section>
            <ProfilePhoto mp={mp} />
            <p>
                <h1>{mp?.full_name}</h1>
                {mp?.email}<br />
                {mp?.party_id}<br />
                {mp?.occupation}<br />
                {mp?.place_of_residence}<br />
            </p>
        </section>

        <nav>
            <ul>
                {
                    subpages.map((page) => (
                        <li>
                            <a
                                class:list={{
                                    active:
                                        decodeURI(currentPath) === page.path,
                                }}
                                href={page.path}
                            >
                                {page.name}
                            </a>
                        </li>
                    ))
                }
            </ul>
        </nav>

        <slot />
    </main>
</BaseLayout>

<style>
    nav:first-of-type {
        margin-bottom: 1em;
        border-bottom: 1px solid var(--pico-muted-border-color);
        padding-bottom: 1em;
    }
    nav > a {
        display: inline-flex;
        align-items: center;
        gap: 0.3em;

        font-size: 1.5rem;
        font-weight: 500;
        text-decoration: none;
        color: unset;
    }
    .active {
        color: red;
    }
</style>
