---
import type { MP } from "~src/pages/edustaja/[memberOfParliament]/_utils";
import BaseLayout from "~src/layouts/Layout.astro";
import ProfilePhoto from "~src/components/ProfilePhoto.astro";

interface Props {
    mp: MP;
}

const { mp } = Astro.props;

const currentPathBase = `edustaja/${mp?.full_name}`;
const currentPath = Astro.url.pathname;
const subpages = [
    { name: "Yleistä", path: `/${currentPathBase}` },
    { name: "Puheenvuorot", path: `/${currentPathBase}/puheenvuorot` },
    { name: "Äänestykset", path: `/${currentPathBase}/aanestykset` },
    { name: "Jäsenyydet", path: `/${currentPathBase}/jäsenyydet` },
];
---

<BaseLayout>
    <main>
        <section>
            <ProfilePhoto mp={mp} />
            <p>
                <h1>{mp?.full_name}</h1>
                {mp?.email}<br />
                {mp?.party_id}<br />
                {mp?.occupation}<br />
                {mp?.place_of_residence}<br />
            </p>
        </section>

        <nav>
            <ul>
                {
                    subpages.map((page) => (
                        <li>
                            <a
                                class:list={{
                                    active:
                                        decodeURI(currentPath) === page.path,
                                }}
                                href={page.path}
                            >
                                {page.name}
                            </a>
                        </li>
                    ))
                }
            </ul>
        </nav>

        <slot />
    </main>
</BaseLayout>

<style>
    .active {
        color: red;
    }
</style>
