---
import Layout from "~src/layouts/BaseLayout.astro";
import { db } from "~src/database";
import { sql } from "kysely";
import Pagination from "~src/components/Pagination.astro";
import MemberListItem from "~src/components/MemberListItem.astro";
import {
    mpData,
    parliamentary_groups_sql,
    type MP,
} from "~src/pages/edustajat/_utils";
import { PAGE_QUERYPARAM, SEARCH_QUERYPARAM } from "~src/constants";
import SearchInput from "~src/components/SearchInput.astro";

// Tell Astro that this page cannot be prerendered.
export const prerender = false;

const PAGE_LIMIT = 20;

const search = Astro.url.searchParams.get(SEARCH_QUERYPARAM);
const page = Number(Astro.url.searchParams.get(PAGE_QUERYPARAM) ?? 1) - 1;

const query = mpData()
    .where(
        sql<boolean>`(${parliamentary_groups_sql} -> -1 ->> 'end_date') IS NULL`
    )
    .orderBy("persons.last_name");

type MPSearch = MP & { total_hits?: number };

const data: MPSearch[] = !search
    ? await query
          .limit(PAGE_LIMIT)
          .offset(page * PAGE_LIMIT)
          .execute()
    : await sql<MPSearch>`SELECT * FROM search_persons(${search}, ${PAGE_LIMIT}, ${page * PAGE_LIMIT})`
          .execute(db)
          .then(({ rows }) => rows);

const total =
    data[0]?.total_hits ??
    (await db
        .selectFrom("persons")
        .leftJoin(
            "mp_parliamentary_group_memberships",
            "persons.id",
            "mp_parliamentary_group_memberships.person_id"
        )
        .where("mp_parliamentary_group_memberships.end_date", "is", null)
        .select(db.fn.countAll().as("count"))
        .executeTakeFirstOrThrow()
        .then((res) => Number(res.count))) ??
    0;
---

<Layout>
    <h1>Edustajat</h1>
    <SearchInput label="Hae kansanedustajia..." />

    <Pagination page={page} pageSize={PAGE_LIMIT} total={total}>
        <ol>
            {
                data.map((mp) => (
                    <li>
                        <MemberListItem
                            mp={{
                                first_name: mp.first_name,
                                last_name: mp.last_name,
                                photo: mp.photo,
                                party_id:
                                    mp?.parliamentary_groups.at(-1)?.pg_id,
                                minister_position:
                                    mp?.minister_positions.at(-1)?.end_date ===
                                    null
                                        ? mp?.minister_positions.at(-1)?.name
                                        : null,
                            }}
                        />
                        <hr />
                    </li>
                ))
            }
        </ol>
    </Pagination>
</Layout>

<style is:global>
    ol {
        padding-inline-start: unset;
    }
    li {
        list-style: none;
    }
</style>
