---
import Layout from "~src/layouts/BaseLayout.astro";

import { db } from "~src/database";
import { sql } from "kysely";
import { mpData } from "~src/pages/edustajat/_utils";
import { PAGE_LIMIT, PAGE_QUERYPARAM, SEARCH_QUERYPARAM } from "~src/constants";
import MpSearchList, {
    type MPSearch,
} from "~src/components/MpSearchList.astro";

// Tell Astro that this page cannot be prerendered.
export const prerender = false;

const search = Astro.url.searchParams.get(SEARCH_QUERYPARAM);
const page = Number(Astro.url.searchParams.get(PAGE_QUERYPARAM) ?? 1) - 1;

const query = mpData()
    .where("parliamentary_group.end_date", "is", null)
    .orderBy("persons.last_name");

const data: MPSearch[] = !search
    ? await query
          .limit(PAGE_LIMIT)
          .offset(page * PAGE_LIMIT)
          .execute()
    : await sql<MPSearch>`SELECT * FROM search_persons(${search}, ${PAGE_LIMIT}, ${page * PAGE_LIMIT})`
          .execute(db)
          .then(({ rows }) => rows);
---

<Layout>
    <h1>Edustajat</h1>
    <MpSearchList data={data} page={page} pg_id={null} />
</Layout>
