---
import Layout from "~src/layouts/BaseLayout.astro";

import { db } from "~src/database";
import { sql } from "kysely";
import Pagination from "~src/components/Pagination.astro";
import MemberListItem from "~src/components/MemberListItem.astro";
import { mpData, type MP } from "~src/pages/edustajat/_utils";

// Tell Astro that this page cannot be prerendered.
export const prerender = false;

const SEARCH_QUERYPARAM = "q";
const PAGE_QUERYPARAM = "p";
const PAGE_LIMIT = 20;

const search = Astro.url.searchParams.get(SEARCH_QUERYPARAM);
const page = Number(Astro.url.searchParams.get(PAGE_QUERYPARAM) ?? 1) - 1;

const query = mpData()
    .where("parliamentary_group.end_date", "is", null)
    .orderBy("persons.last_name");

type MPSearch = MP & { total_hits?: number };

const data: MPSearch[] = !search
    ? await query
          .limit(PAGE_LIMIT)
          .offset(page * PAGE_LIMIT)
          .execute()
    : await sql<MPSearch>`SELECT * FROM search_persons(${search}, ${PAGE_LIMIT}, ${page * PAGE_LIMIT})`
          .execute(db)
          .then(({ rows }) => rows);

const total = data[0]?.total_hits ?? data.length;
---

<Layout>
    <h1>Edustajat</h1>
    <form role="search">
        <input
            aria-label="Hae kansanedustajia..."
            id="search"
            name={SEARCH_QUERYPARAM}
            placeholder="Hae kansanedustajia..."
            type="search"
            value={search}
        />
        <button type="submit">Hae</button>
    </form>

    <Pagination
        page={page}
        pageQueryParam={PAGE_QUERYPARAM}
        pageSize={PAGE_LIMIT}
        total={total}
    >
        <ol>
            {
                data.map((mp) => (
                    <li>
                        <MemberListItem mp={mp} />
                        <hr />
                    </li>
                ))
            }
        </ol>
    </Pagination>
</Layout>

<style is:global>
    article {
        --pico-card-box-shadow: initial;
        display: flex;
        flex-direction: row;
        gap: var(--pico-block-spacing-horizontal);
    }
    .missing {
        height: 150px;
        width: 100px;
        background-color: #ccc;
    }
    ol {
        padding-inline-start: unset;
    }
    li {
        list-style: none;
    }
    img {
        height: revert-layer;
        object-fit: cover;
    }
    strong:has(+ .party) {
        vertical-align: middle;
    }
    .party {
        font-size: 0.9em;
        font-weight: 450;
        background-color: var(--background);
        color: var(--text);
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        margin-inline: 0.5em;
        padding: 0em 0.4em;
        border-radius: 0.125em;
    }
</style>
