---
import { db } from "~src/database";
import Layout from "~src/pages/edustaja/[memberOfParliament]/_layout.astro";
import { getSpeechByID } from "~src/pages/edustaja/[memberOfParliament]/_utils";

const { mpID, speechID } = Astro.params;
/** List all items of data that need a page generated for them */
import type { Speech } from "~src/types"; // Adjust the import path as needed

export async function getStaticPaths() {
    const data: Speech[] = await getSpeechByID(mpID, speechID);
    return data.map((speech: Speech) => ({
        params: { speech: speech.parliament_id || "" },
    }));
}

const speech = mp
    ? await db
          .selectFrom("speeches")
          .where("speeches.mp_id", "=", mp.id)
          .where("speeches.parliament_id", "=", mp.parliament_id)
          .select(["id", "mp_id", "parliament_id", "start_time", "speech"])
          .execute()
    : [];
---

<Layout mp={mp}>
    <section>
        <h2>Sidonnaisuudet</h2>
        {
            Object.entries(groupedInterests).map(([group, interests]) => (
                <section>
                    <strong>{group}</strong>
                    <ul>
                        {interests.map((int) => (
                            <li>{int.interest}</li>
                        ))}
                    </ul>
                </section>
            ))
        }
    </section>

    <section>
        <h2>Äänestykset</h2>
        {
            ballotVotes.map((bv) => (
                <p>
                    <strong>{bv.title}</strong> |
                    <a href={`${PARLIAMENT_BASE_URL}${bv.minutes_url}`}>
                        Pöytäkirja
                    </a>{" "}
                    |
                    <a href={`${PARLIAMENT_BASE_URL}${bv.results_url}`}>
                        Äänestystulos
                    </a>
                    <br />
                    {bv.session_item_title}
                    <br />
                    Ääni: <strong>{VOTE_MAP[bv.vote]}</strong>
                </p>
            ))
        }
    </section>
</Layout>
